In [18]:
import pandas as pd
melb_data=pd.read_csv('data/melb_data_fe.csv')
melb_df=melb_data.copy()
melb_df.pivot_table(values='Price',index='Rooms',columns='Type',fill_value=0).round()
melb_df.pivot_table(values='Price',columns='Weekend',index='Regionname',aggfunc='count')
melb_df.pivot_table(values='Price',index=['SellerG'],columns='Type',aggfunc=['median'],fill_value=0)

                median
Type             house townhouse    unit
SellerG
Alexkarbon     1036250    935000  560000
Barry           830000    727500  502000
Bells           692500    430500  457500
Biggin         1151750    675000  548000
Brad            875000    700000  465000
Buckingham      830000    820000  553000
Burnham         922500         0  305000
Buxton         1323750   1030000  670000
C21             836500    768750  625500
Cayzer         1505000   1450000  707500
Chisholm       1520000    950000  640000
Collins        1566500    930000  592000
Douglas         684000    500000  494500
Eview           760000    597500  602000
Fletchers      1390000   1238000  653000
Gary           1370000    993500  550000
Greg           1330000    900000  547500
HAR             695000         0  518000
Harcourts       740000    653750  500000
Hodges         1500000   1105000  605500
Jas             935000    699000  455000
Jellis         1505000   1052000  591750
Kay            2220000   1365000  695000
LITTLE          970000    800000  447000
Love            780000    846000  440000
Marshall       1975000   1408500  715000
McDonald       1242500         0  502500
McGrath        1250000    810000  542500
Miles          1090000    721500  555000
Moonee          806000    715000  622000
Nelson         1055000    730000  530000
Nick           2025000    780000  900000
Noel           1400500    990000  693250
O'Brien         737504    430000  618500
Philip         1035000    701000  636000
Purplebricks    810000    927500  582500
RT             1640000   1400000  630000
RW              870000    630500  625500
Raine           745000    608000  447500
Ray             900000    650000  497500
Rendina        1190000    750000  459000
Stockdale       715500    550000  410000
Sweeney         850000    728000  381000
Thomson        1177000    500000  495000
Village         973500    727500  420000
Williams       1161000    735000  577000
Woodards       1261000    865500  600000
YPA             596250    498500  443500
hockingstuart  1055000    935000  566000
other           901000    840500  535000